<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="div-central">
        <div class="caixa-um">

        </div>
        <div class="caixa-dois">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus iusto porro error deserunt excepturi
                blanditiis id praesentium dolorem totam eveniet sit a modi officiis saepe tempore, nam voluptatum, unde
                fuga.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus obcaecati deserunt deleniti, ea
                praesentium ipsam totam itaque dignissimos officiis quasi nemo harum, nam nobis eos natus, illo
                cupiditate commodi sint.
            </p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem, obcaecati earum voluptatem, a, ut
                voluptas voluptatibus delectus eveniet quos excepturi illum facere eius culpa doloribus. Accusamus at
                voluptatum obcaecati libero?Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam laudantium
                quas non esse vitae voluptatem saepe ullam nemo? Amet, consectetur. Repellat tenetur laboriosam, odio
                reprehenderit laudantium dolor amet porro cum.</p>
            <ol>
                <li>Angular</li>
                <li>React</li>
                <li>JavaScript</li>
            </ol>
        </div>
        <div class="caixa-tres">

        </div>
    </div>
</body>

</html>